  <div class="job">
    <div class="job-info">
      <div class="shop-name">
        <%= @job.shop_name %>(<%=@job.occupation.name %>)
      </div>
      <div class="salary">
        時給/<%= @job.salary %>円
      </div>
    </div>
  </div>
  <%= link_to '編集', edit_job_path(@job.id), method: :get%>
  <%= link_to '削除', job_path(@job.id), method: :delete%>