<div class="contents row">
  <div class="container">
    <h2 class="devise-title">ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <h4>Eメール</h4>
        <%= f.email_field :email, autofocus: true, :class => 'user-form' %>
      </div>

      <div class="field">
        <h4>パスワード</h4>
        <%= f.password_field :password, autocomplete: "off", :class => 'user-form' %>
      </div>


      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>
