<!DOCTYPE html>
<html>
  <head>
    <title>Yukijob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="yukijob"><a href="/">YukiJob</a></h1>
      <%= link_to "求人を投稿する", new_job_path, class:"job-post" %>
    </header>
    <%= yield %>
  </body>
</html>
